<div class="page-header">
  <h1>New Story</h1>
</div>
<%= form_for @story do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="clearfix">
    <%= f.label :title %>
    <div class="input">
      <%= f.text_field :title, :class => "xxlarge" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :blurb %>
    <div class="input">
      <%= f.text_area :blurb, :class => "xxlarge", :rows => "3" %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :character_count, 'How many characters in this story?' %>
    <div class="input">
      <%= f.select :character_count, @count_opts, {}, :class => "mini" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Create", :class => "btn primary" %>
  </div>
<% end %>
