Title: <%= @story.title %><br />
Blurb: <%= @story.blurb %><br />
<%= @followers.count %> of <%= pluralize(@story.character_count, "character") %> are participating in this story.<br />
<% unless @followers.empty? %>
  Participants: 
  <% @followers.each do |f| %>
    <%= f[:name] + ',' %>
  <% end %><br />
<% end %>
Turn: <%= @story.turn %><br />
<%= render 'follow_form' if signed_in? %>
<hr />
<% if !@phrase_feed.empty? %>
  <div id="updateDiv">
    <table class="phrases" summary="Story phrases">
      <%= render @phrase_feed %>
    </table>
  </div>
<% else %>
  Nothing yet.
<% end %>
<% if current_user.id == @story.turn %>
  <%= render 'phrases/phrase_form' %>
  <%= javascript_tag do %>
    updatePhrases(<%= story_path %>);
  <% end %>
<% else %>
  <%= javascript_tag do %>
    refreshPage();
  <% end %>
<% end %>

