Title: <%= @story.title %><br />
Blurb: <%= @story.blurb %><br />
0 of <%= pluralize(@story.character_count, "character") %> are participating in this story.
<hr />
<% if !@phrase_feed.empty? %>
  <table class="phrases" summary="Story phrases">
    <%= render @phrase_feed %>
  </table>
  <%= will_paginate @phrase_feed %>
<% else %>
  Nothing yet.
<% end %>
<%= render 'phrases/phrase_form' %>
