<div class="page-header">
  <div class="row">
    <div class="span14">
      <h1><%= @story.title %></h1>
    </div>
    <div class="span2">
      <%= render 'follow_form' if signed_in? %>
    </div>
  </div>
</div>
<div class="well">
  <h4><%= @story.blurb %><br />
    <small>
      <%= @followers.count %> of <%= pluralize(@story.character_count, "character") %> are participating in this story.<br />
      <% unless @followers.empty? %>
        Participants: 
        <% @followers.each do |f| %>
          <%= f[:name] %><%= ', ' unless f[:name].eql?(@followers.last[:name]) %>
        <% end %><br />
        Turn: <%= User.find_by_id(@story.turn).name %>
      <% end %>
    </small>
  </h4>
</div>
<div class="row">
  <div class="span16">
    <% if !@phrase_feed.empty? %>
      <%= render @phrase_feed %>
    <% else %>
      Nothing yet.<br />
      <br />
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span16">
    <% if current_user.id == @story.turn %>
      <%= render 'phrases/phrase_form' %>
    <% else %>
      <%= javascript_tag do %>
        refreshPage();
      <% end %>
    <% end %>
  </div>
</div>
